<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <title>Usuarios</title>
</head>
<body>
    <div class="contenedor usuarios-contenido">
        <h1>Usuarios</h1>
        <div>
            <table class="tablaUsuarios">
                <thead>
                    <tr>
                        <th>id_usuario</th>
                        <th>Nombre Usuario</th>
                        <th>rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<usuarios.length; i++){ %>
                        <tr>
                            <td><%= usuarios[i].id_usuario %></td>
                            <td><%= usuarios[i].username %></td>
                            <td><%= usuarios[i].tipo_rol %></td>
                            <td>
                                <button class="btnEditar" data-id="<%= usuarios[i].id_usuario %>">Editar</button>
                                <button class="btnEliminar" data-id="<%= usuarios[i].id_usuario %>">Eliminar</button>
                            </td>
                        </tr>
                    <% } %>
            </table>
        </div>
    </div>
    

    <script src="/components/TablaUsuarios.js"></script>
</body>
</html>